@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
body{
    min-height: 100vh;
    color: aliceblue;
    background-color: #1B2029;
    font-weight: 500;
    animation-name: appear;
    animation-timing-function: ease-in;
    animation-duration: .7s;
    animation-fill-mode: forwards;
}

.flex{
    display: flex;
    align-items: center;
}


@keyframes appear{
    from{
       opacity: 0;
    }
 
    to{
       opacity: 1;
      
    }
 }