@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

body{
    min-height: 100vh;

    color: aliceblue;
    background-color: #1B2029;
    font-weight: 500;
}

.flex{
    display: flex;
    align-items: center;
}