@media only screen and (max-width: 990px){
    section{
        display: none;
    }
    main{
        width: 100vw;
    }
    h1{
        margin-bottom: 40px;
    }
    input[type="submit"]{
        margin-top: 2rem;
    }
}

@media only screen and (max-width: 450px){
    h1{
        font-size: 2.2rem;
        color: white;
    }
    span{
        font-size: 1.1rem;
    }
    input{
        font-size: .8rem;
    }
    input[type="submit"]{
        height: 40px;
    }
}

@media only screen and (max-width: 350px){
    h1{
        font-size: 1.7rem;
    }
    span{
        font-size: .7rem;
    }
    input{
        width: 80vw;
        height: 30px;
    }

    input[type="submit"]{
        font-size: 0.8rem;
    }
}